
.header{
    color: red;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px rgb(238, 130, 166); 
    background-color: yellow;
    opacity: 0.6;
    margin-bottom: 10px;
}

.container{
    height:750px;
    width: 400px;
    border-color:green;
    border-style: solid;
    border-radius: 20px;
    background-color:rgba(255, 166, 0, 0.575);
    margin: auto;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;  
    border-width: thick;  
}

.image{
   margin: auto;
   height: 50px;
   width: 50px; 
}
.div1{
    color: green;
    font-size: normal;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}

#para2{
    font-weight: 200px;
    background-color: khaki;
    font-style: italic;
    color:violet;
}

#bckgrnd{
    text-transform: capitalize;
    color: fuchsia;
}

*{
    background-color:khaki;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#para1{
    color: blue;
    font-family:"sofia";
    font-style: inherit;
    background-color:khaki;
    text-align: center;
}

#para3{
    font-family: "yellowtail";
    line-height: 20px;
    font-weight:bold;
    font-size: large;
    text-align: center;
    letter-spacing: 10px;
}

.div2{
    font-family: "sofia";
    color: blue;
    font-style: initial;
}

.first{
    text-align:center;
}

